<%- include('navbar.ejs')%>
<div class="site-section"  data-aos="fade">
    <div class="container-fluid">

      <div class="row justify-content-center">

        <div class="col-md-7">
          <div class="row mb-5">
            <div class="col-12 ">
              <h2 class="site-section-heading text-center">About</h2>
            </div>
          </div>
        </div>

      </div>
      
      <div class="row mb-5">
        <div class="col-md-7">
          <img src="/images/<%=about['about_image']%>" alt="Images" class="img-fluid">
        </div>
        <div class="col-md-4 ml-auto">
          <h3 class="text-white"><%=about['about_title']%></h3>
          <p><%=about['about_paragraph']%></p>
        </div>
      </div>


      <div class="row site-section">
        <% for(var i=0;i<about_us.length;i++) { %>
        <div class="col-md-6 col-lg-6 col-xl-4 text-center mb-5">
          <img src="/images/<%=about_us[i].about_us_image%>" alt="Image" class="img-fluid w-50 rounded-circle mb-4">
          <p class="mb-4"><%=about_us[i].about_us_paragraph%></p>
          <p>
            <a href="<%=about_us[i].about_us_twitter%>" class="pl-0 pr-3"><span class="icon-twitter"></span></a>
            <a href="<%=about_us[i].about_us_instagram%>" class="pl-3 pr-3"><span class="icon-instagram"></span></a>
            <a href="<%=about_us[i].about_us_facebook%>" class="pl-3 pr-3"><span class="icon-facebook"></span></a>
          </p>
        </div>
        <% } %>
      </div>
    </div>
  </div>
<%- include('footer.ejs')%>